header
  nav.deep-purple.darken-4
    .nav-wrapper
      a.brand-logo(href='#!') Logo
      a.sidenav-trigger(href='#', data-target='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='#') One
        li
          a(href='#') Two
        li
          a(href='#') Three
        li
          a(href='#') Four
  ul#mobile-demo.sidenav
    li
      a(href='#') One
    li
      a(href='#') Two
    li
      a(href='#') Three
    li
      a(href='#') Four
