html
  head
    title= title
  body
    div
      h1= message
    hr
    if user && user.name
      div
        p Welcome #{user.name}
        a(href='/profile') Profile
        <br/>
        a(href='/logout') Log out
    else
      div
        a(href='/signup') Local Sign Up
      div
        a(href='/login') Local Log In
