html
  head
    title= title
    include includes/head
  body
    include includes/header
    main
      div
        h1= message
      hr
      if user && user.name
        div
          p Welcome #{user.name}
          a(href='/profile') Profile
      else
        div
          a(href='/signup') Local Sign Up
        div
          a(href='/login') Local Log In
    include includes/footer
