html
  head
    title= title
  body
    div
      if message
        p= message
      form(action='/login', method='post')
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.btn-warning.btn-lg(type='submit') Login
      hr
      div
        a(href='/') Home
      div
        a(href='/signup') Sign up for a new account
