html
  head
    title= title
  body
    div
      if message
        p= message
      form(action='/signup', method='post')
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.btn-warning.btn-lg(type='submit') Signup
      hr
      p
        | Already have an account?
        a(href='/login') Login
      p
        | Or go&nbsp
        a(href='/') home
        | .
