/*

MATERIALIZE IMPORT OPTIONS

@charset "UTF-8";

// Color [IMPORTED]
@import "components/color-variables";
@import "components/color-classes";

// Variables [IMPORTED]
@import "components/variables";

// Reset [IMPORTED]
@import "components/normalize";

// components
@import "components/global"; [IMPORTED]
@import "components/badges";
@import "components/icons-material-design"; [IMPORTED]
@import "components/grid"; [IMPORTED]
@import "components/navbar"; [IMPORTED]
@import "components/typography";
@import "components/transitions"; [IMPORTED]
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons"; [IMPORTED]
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible"; [IMPORTED]
@import "components/chips";
@import "components/materialbox"; [IMPORTED]
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav"; [IMPORTED]
@import "components/preloader";
@import "components/slider"; [IMPORTED]
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";


*/


// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// Components
@import "components/navbar";
@import "components/buttons";
@import "components/sidenav";
@import "components/collapsible";
@import "components/global";
@import "components/icons-material-design";
@import "components/materialbox";
@import "components/slider";
@import "components/transitions";
@import "components/grid";


@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/chips";
@import "components/table_of_contents";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";



$font-stack:    Helvetica, sans-serif;
$primary-mint: #8cffb8;
$primary-gray: #494949;

body {
  font: 100% $font-stack;
  color: $primary-gray;
  background-color: $primary-mint;
}
